:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  padding: 8px;
  color: #E91E63;
}

#content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#grow, #fade, #fly {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}