<md-toolbar class="mat-elevation-z6">
  <span>Cool Animations Article</span>
</md-toolbar>
<div class="content">
  <h1>
    {{title}}
  </h1>

  <button md-button class="mat-raised-button mat-primary" (click)="visible = !visible">
    {{visible ? 'hide' : 'show'}}
  </button>

  <app-ease-in [visible]="visible"></app-ease-in>
</div>


<nav>
  <button [@flyInOut]='state' (click)="flyInOut()">
      <a routerLink="/home" routerLinkActive="active">home</a>
  </button>
  
  <button>
      <a routerLink="/animations" routerLinkActive="active">animations</a>
  </button>
  </nav>
  <router-outlet></router-outlet>