@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-pink);
$accent: mat-palette($mat-indigo);

$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);
